In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
data=pd.read_csv('austin_weather.csv')
data.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [3]:
data=data.replace('T',0.0)
data=data.replace('-',0.0)
data['PrecipitationSumInches'] = data['PrecipitationSumInches'].astype(float)
data['RainTomorrow'] = (data['PrecipitationSumInches'] > 0).astype(int)

In [4]:
data.head(5)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events,RainTomorrow
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm",1
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,29.87,10,10,5,16,6,25,0.00,,0
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.41,10,10,10,8,3,12,0.00,,0
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.3,10,10,7,12,4,20,0.00,,0
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.27,10,10,7,10,2,16,0.00,,0

In [5]:
data=data.drop(['Events','Date'],axis=1)

In [6]:
for i in data:
    print(data[i].dtype)

int64
int64
int64
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
float64
int32

In [7]:
for col in data.columns:
    if data[col].dtype == 'object':
        data[col] = data[col].astype(float)

In [9]:
X = data.drop(
    ['PrecipitationSumInches', 'RainTomorrow'],
    axis=1,
)
y=data['PrecipitationSumInches']  ## this is to predict amt of rain

In [10]:
X

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH
0,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0
1,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0
2,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0
3,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0
4,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0
1315,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0
1316,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0
1317,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0
1318,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0

In [11]:
y_clf = data['RainTomorrow'] ## this to say whether it will rain or not

In [13]:
X_train,X_test,y_train,y_test,y_clf_train, y_clf_test=train_test_split(X,y,y_clf,test_size=0.35,random_state=41)

In [14]:
model_pred=LinearRegression()
model_clf=LogisticRegression()

In [15]:
scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
model_pred.fit(X_train,y_train)
model_clf.fit(X_train,y_clf_train)
y_pred = model_pred.predict(X_test)
y_pred_clf=model_clf.predict(X_test)

In [17]:
from sklearn.metrics import (
    mean_squared_error,
    r2_score,
    accuracy_score,
    classification_report
)

reg_mse = mean_squared_error(y_test, y_pred)
reg_rmse = np.sqrt(reg_mse)
reg_r2 = r2_score(y_test, y_pred)

print("=== Regression: Predicting Rainfall (inches) ===")
print(f"RMSE: {reg_rmse:.4f} inches")
print(f"R²:   {reg_r2:.4f}\n")

clf_acc = accuracy_score(y_clf_test, y_pred_clf)

print("=== Classification: Predicting Rain / No Rain ===")
print(f"Accuracy: {clf_acc:.4f}")
print("\nClassification report:")
print(classification_report(y_clf_test, y_pred_clf, target_names=["No Rain", "Rain"]))

=== Regression: Predicting Rainfall (inches) ===
RMSE: 0.3968 inches
R²:   0.1853

=== Classification: Predicting Rain / No Rain ===
Accuracy: 0.8810

Classification report:
              precision    recall  f1-score   support

     No Rain       0.92      0.93      0.92       352
        Rain       0.76      0.73      0.74       110

    accuracy                           0.88       462
   macro avg       0.84      0.83      0.83       462
weighted avg       0.88      0.88      0.88       462